<a href="https://colab.research.google.com/github/fk8663212/python20210425/blob/main/%E6%A5%8A%E6%88%90%E5%87%B1_4_%E5%BB%BB%E5%9C%88loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **range() 函式**
 使用range 函式 的建立整數循序數列
 
變數1 = range(整數值)

變數2 = range(起始值, 終止值)

變數3 = range(起始值, 終止值, 多少間隔)

In [1]:
#變數1 = range(整數值)
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
#變數2 = range(起始值, 終止值)
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [3]:
#變數3 = range(起始值, 終止值, 多少間隔)
list3=range(-4,5,2)
print(list(list3))
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]
[-4, -2, 0, 2, 4]

# **[2]for 廻圈**
使用for 廻圈 執行固定次數的廻圈運算(通常)

In [4]:
for n in range(5):
  print(n)

0
1
2
3
4

In [6]:
for n in range(10):
    print(n, end=' ')

0 1 2 3 4 5 6 7 8 9

# **範例 3:底下兩個程式輸出為何?**

In [7]:
sum = 0

for n in range(5):
  sum += n
  print(sum)

0
1
3
6
10

In [8]:
sum = 0

for n in range(5):
  sum += n

print(sum)

10

# **Python 程式碼縮排**

Python 語言以冒號「:」及縮排來表示程式區塊

縮排為 1 個 Tab 鍵或 4 個空白鍵

# **範例 4:計算1+2+3+ .....+ n**

In [9]:
x = int(input("請輸入一個正整數:"))

mysum = 0

for n in range(x+1): ## 為什麼不是range(x)?
  mysum += n

print(mysum)

請輸入一個正整數:5
15

In [10]:
#底下程式如果第五行改成  if (number % 2 = 0):答案會是甚麼??

numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

# **[3]While Loop**
使用 while loop設計

n階程的計算:n!=1*2*3*⋯*n

1!　=　１

2!　=　1*2　=　2

3!　=　1*2*3　=　6

輸入::一個正整數 n

輸出::n!

當使用者輸入一個正整數 n 後，程式就會顯示
1*2*3*...*n 的乘積

In [11]:
total = i = 1

n = int(input("請輸入正整數 n 的值：")) # 再問一次:為什麼要加

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：5
5!=120

# **[4]break 指令**
可在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。

In [13]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")
 
    if (fruit==""):
        break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

請輸入喜歡的水果(Enter 結束)：西瓜
西瓜 在串列中的第 5 項
請輸入喜歡的水果(Enter 結束)：

# **[5]continue 指令**
在廻圈執行中途暫時停住不往下執行，而跳到廻圈的起始處繼續執行

撰寫一個可以排除數列中 5 的倍數的程式


輸入::一個正整數 n

輸出::
使用者只要輸入一個正整數，
程式會顯示由 1 到該整數的整數數列，但會將 5 的倍數排除

In [14]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

請輸入正整數：45
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44

# **[6]巢狀廻圈Nested Loop**

In [19]:
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

# **計算上題的總和**

In [20]:
t=0
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                t+=i+j+k
print(t)

606

In [16]:
for x in range(19):
  print(x)
for x in range(0,19,2):
  print(x)
for x in range(20,11,-1):
  print(x)
for x in range(0,19,-1):
  print(x)
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")
output = ''

for x in range(0,19,3):
  print(x, end=" ")
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
0
2
4
6
8
10
12
14
16
18
20
19
18
17
16
15
14
13
12
0 03 036 0369 036912 03691215 0369121518 0 3 6 9 12 15 18 0 3 6 9 12 15 18

In [17]:
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:4565
456.5
456.5